.top-content {
    background-image: url(/img/blur-close-up-dining-225228.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 70rem;
    width: 100%;
}
.top-content {
    .flex-base(space-between);
    background-size: cover;
    padding: 10rem 0;
    background-repeat: no-repeat;
    text-align: center;
    
}

header {
    .flex-base(space-between);
    font-size: 2rem;
    padding: 2rem 0;
    
    @media @mobile {
    flex-direction:column;
    h1 {
        text-align: center;
        padding-bottom: 2rem;
        
    }
    nav {
        text-align: center;
        .flex-base(space-between)
    }    
    }
}