.container {
    background-color: #f7f7f7;
}



.top-content {
    background-image: url(/img/blur-close-up-dining-225228.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 60rem;
    width: 100%;
    text-align: center;
    .flex-base(center);
    padding: 10rem 0;
    text-align: center;
    @media @mobile {
        height: 48rem;
    }
}


.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    padding-top: 42rem;
    color: #e4d1d1;
    h1 {
        font-weight: bolder;
    }
    button {
        font-size: 1.5rem;
        font-weight: 400;
        padding:2rem;
        border-radius: 2rem;
        margin: 0 20rem;
        border: none;
        background:#e4d1d1;
    }
    p {
        font-weight: bolder;
    }
    @media @mobile {
        padding-top: 32rem;
        h1 {
            font-size: 2.5rem;
        }
        p {
            font-size: 1.5rem;
        }
        button {
            padding: 1rem;
            font-size: 1.5rem;
        }
    }

}

.middle-content-1 {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #e6dbdb;
    h1 {
        color:#522222;
        padding: 0 2rem;
        font-weight: bolder;
    }
    p {
        padding: 4rem 5rem;
        text-align:center!important;
        color: #2c2c2c;
        font-size: 2rem;
        color:#2c2c2c;
    }
    @media @mobile {

    }
    
}


.middle-content-2 {
    display: flex;
    padding: 2rem 0;
    img {
        width: 100%;
        padding-right: 5rem;
    }
    .subclass-1 {
        display:flex;
        flex-direction: column;
        justify-content: center;
        h1 {
            padding-bottom: 2rem;
            color:#522222;
            font-weight: bolder;
        }
        p  {
            padding-right: 4rem;
            color: #2c2c2c;
            font-size: 1.7rem;
        }
    }
}

.middle-content-3 {
    display: flex;
    padding: 5rem 0; 
    background: white;
    .subclass-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 4rem;
        h1 {
            padding-bottom: 2rem;
            color:#522222;
            font-weight: bolder;
        }
        p  {
            padding-right: 4rem;
            color:#2c2c2c;
            font-size: 1.7rem;
        }
    }
    img {
        width: 450rem;
        border-radius: 2rem;
    }
}

.middle-content-4 {
    display: flex;
    padding: 5rem 0;
    img {
        width: 120rem;
        border-radius:2rem;
    }
    .sub-class-3 {
        display:flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding-left: 4rem;
        h1 {
            color:#522222;
            padding-bottom: 2rem;
            font-weight: bolder;
        }
        p  {
            padding-right: 4rem;
            color:#2c2c2c;
            font-size: 1.7rem;
        }
    }
}

.middle-content-5 {
    display: flex;
    padding-top: 7rem;
    text-align: center;
    padding-bottom: 5rem;
    background:#e6dbdb;
    img {
        width: 40rem;
        border-radius: 2rem;
    }
    .sub-class-4 {
        display: flex;
        flex-direction: column;
        padding-top: 4rem;
    }
    h1 {
        color:#522222;
        font-weight: bolder;
        padding-bottom: 2rem;
    }
    p {
        font-size: 1.5rem;
        color:#2c2c2c;
    }
}