// Navigation Styles here


.header-content {
    background-color: grey;
    flex-direction: row-reverse;
    padding-right: 4rem;
    nav {
    .flex-base(space-between);
        a {
        text-decoration: none;
        color: #d2fafb;
        padding-left: 2rem; 
        }
        a:hover {
            color: #f77754;
        }
    }
    
}


