// Navigation Styles here


.header-content {
    padding-right: 4rem;
    background-color:#7ecfc0;
    nav {
        display: flex;
        flex-direction: row-reverse;
        padding: 2rem;
        a {
        text-decoration: none;
        color: #d2fafb;
        padding-left: 2rem;
        font-size: 1.5rem; 
        }
        a:hover {
            color: #f77754;
        }
        
    }
    
}


