// Navigation Styles here


.header-content {
    background-color: grey;
    nav {
    border:@navigation-border;
    .flex-base(space-between);
        a {
        text-decoration: none;
        color: #d2fafb;
        padding-left: 2rem;
        }

    }
    
}
